h1 {
    font-weight: 400;
}

.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    cursor: pointer;
    overflow: hidden;
    max-height: 150px;
}

.symbol {
    z-index: 1;
    opacity: 0.1;
    margin-left: 100px;
    margin-top: -85px;
    width: 150px;
}

.normal {
    background-color: #a89177;
}

.grass {
    background-color: #48d0b0;
}

.fire {
    background-color: #fb6c6c;
}

.water {
    background-color: #76bdfe;
}

.electric {
    background-color: #ffce4b;
}

.ice {
    background-color: #98d5d7;
}

.ground {
    background-color: #dabf78;
}

.flying {
    background-color: #a98ff0;
}

.poison {
    background-color: #af5eaf;
}

.fighting {
    background-color: #b1504b;
}

.psychic {
    background-color: #e06d8f;
}

.dark {
    background-color: #725847;
}

.rock {
    background-color: #ae9b46;
}

.bug {
    background-color: #b3be4e;
}

.ghost {
    background-color: #7c538c;
}

.steel {
    background-color: #b9b7cf;
}

.dragon {
    background-color: #8871c3;
}

.fairy {
    background-color: #f9aec7;
}

.pokemon {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
}

.pokemon .number {
    color: #000;
    opacity: .3;
    text-align: right;
    font-size: .625rem;
}

.pokemon .name {
    text-transform: capitalize;
    color: #fff;
    margin-bottom: .25rem;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types {
    z-index: 10;
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type {
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
}

.pokemon .detail img {
    z-index: 10;
    max-width: 100%;
    height: 70px;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    padding: 0.5rem 0.75rem;
    margin: .25rem 0;
    font-size: .625rem;
    color: #fff;
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: .3s;
}

.pagination button:hover {
    background-color: #4f5794;
    transition: .3s;
}

@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

/* The Modal (background) */
.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 11; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content/Box */
.modal-content {
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 12px;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-img {
    width: 10vw;
    height: auto;
}

.modal-title {
    text-transform: capitalize;
}